  dl class='mt-12 md:mt-6 relative bg-green-50 rounded-md p-4 pb-6'
    div class='absolute -top-6 left-1/2 flex items-center bg-green-400 rounded-full -ml-6 p-2 drop-shadow-md'
      = inline_svg "#{logo}.svg", class: 'w-8 h-8 text-white'
    dd class='mt-6 text-center text-lg font-extrabold'
      = title
    dt class='mt-2 text-center text font-light'
      == description
