p
  = 'Initialement développée pour les besoins de '
  = link_to data.acps.ragedevert.name, data.acps.ragedevert.url
  = ', cette application web '
  = link_to 'open-source', 'https://github.com/acp-admin/acp-admin/'
  = " a évolué afin de pouvoir gérer tout type d'ACP (Agriculture Contractuelle de Proximité)."

p
  = "Que cela soit la gestion de vos membres, les abonnements et leurs compléments, les livraisons, vos lieux de dépôt, la participation des membres, le contenu des paniers ou encore l'envoi d'emails groupés, "
  span.whitespace-no-wrap = 'ACP Admin'
  = " s'occupe efficacement de la plupart des aspects de votre "
  span title='Agriculture Contractuelle de Proximité' = 'ACP'
  = '.'

p
  = "La facturation automatisée (génération et envoi de factures BVR via email et relèvement journalier des versements sur votre compte bancaire) est une des nombreuses fonction qui vous fait gagner un temps précieux."

p
  = "L'application est évolutive et facilement adaptable à vos besoins, n'hésitez pas à me "
  = mail_to 'info@acp-admin.ch', 'contacter'
  = ' pour une démo et rejoindre les '
  span title='Agriculture Contractuelle de Proximité' = 'ACP'
  = ' déjà convaincues!'

div class='flex flex-wrap justify-around'
  - data.acps.each do |_, acp|
    = link_to acp.url, class: 'no-underline text-grey-darkest hover:text-green'
      div class='w-32 sm:w-40 my-4 mx-auto text-center'
        = image_tag acp.logo_url, class: 'w-28 h-28 block mx-auto'
        span class='mt-3 block text-xs font-semibold '
          = acp.name

div class="my-24 text-center mx-auto"
  = link_to 'mailto:info@acp-admin.ch', class: 'bg-grey-lightest hover:bg-grey-lighter text-grey-darker font-bold py-2 px-4 rounded inline-flex items-center no-underline' do
    = inline_svg 'envelope.svg', class: 'fill-current w-6 h-6'
    span class='ml-2' = 'info@acp-admin.ch'
